.gas_record_row_wrapper {
  list-style-type: none;
  display: flex;
  width: 100%;
  border-top: 1px solid #888;
  padding: 10px;
}

.gas_record_row_what {
  width: 50%;
}

.gas_record_row_when {
  width: 50%;
}

.gas_record_row_when > strong, .gas_record_row_when > small, .gas_record_row_what > strong, .gas_record_row_what > small  {
  display: block;
}
.gas_record_row_when > small {
  display: block;
}

.gas_record_row_what > strong, .gas_record_row_when > strong {
  font-size: 1.75rem;
}

.gas_record_row_what > small, .gas_record_row_when > small {
  font-size: 0.8em;
}

.gas_record_row_what span, .gas_record_row_when span {
  font-size: 0.8em;
  font-style: italic;
  font-family: 'Brush Script MT', cursive;
}

